# MongoDB Atlas connection string
# Example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/farmersfriend?retryWrites=true&w=majority
MONGO_URI=

# Optional: override Agmarknet API key
# DATA_GOV_API_KEY=
